/* Estilos globais */

/* Estilos de fontes */
.ubuntu {
    font-family: Ubuntu
}
/* Inputs para formulários */
.bord_input {
    border-color: var(--primary);
    border-style: solid !important;
    outline: none;
}
.input_form {
    border-radius: 5px;
    height: 35px;
} 
.input_form_gray {
    background-color:#E1E1E1;
}
  